.navbar{
    background-color: var(--gray-dark);
    padding: 1rem 2rem;
    display: flex;
    border-radius: 0 0 8px 8px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px var(--gray-medium-shadow);
    font-family: var(--font-family);
    font-size: large;
    height: 60px;
    color: var(--gray-light);
    font-weight: 700;
    padding-left: 50px;
    padding-right: 5%;

    .div2{
        display: flex;
        flex-direction: row;
        gap: 3rem;
        align-items: center;
    }
}