.versus-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text{
    gap: 5px;
    margin-top: 1%;
    font-size: larger;
    font-weight: 600;
    text-align: center;
    color: var(--gray-light);
}

.score{
  margin-top: 2%;
}
  
.winner{
  margin-top: 2%;
  

  .reset{
    margin-top: 20px;
  }
}

.morpion{
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    text-align: center;

    .line{
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        gap: 10px;

        .square{
            width: 100px;
            height: 100px;
            background-color: var(--gray-medium);
            border-radius: 15px;
            box-shadow: 0 4px 6px var(--gray-medium-shadow);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            color: var(--gray-light);
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;

            &:hover {
                background-color: var(--gray-light-shadow);
                transform: translateY(-5px);
            }

            &:active {
                transform: translateY(0);
                box-shadow: 0 2px 4px var(--gray-medium-shadow);
            }
        }
    }
}























