@import 'tailwindcss';

:root {
  --font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-family: var(--font-family);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #284551;
  
  --primary: #36CDCA;
  --primary-shadow: #2AA8A6;
  --secondary: #F6BC47;
  --secondary-shadow: #CE8E14;
  --gray-light: #B6CAD3;
  --gray-light-shadow: #7D9AA7;
  --gray-medium: #284551;
  --gray-medium-shadow: #132C36;
  --gray-dark: #203741;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


button {
    cursor: pointer;
    font-family: var(--font-family);
    border-radius: 30px;
}

.button-primary {
    background-color: var(--primary);
    color: var(--gray-dark);
    padding: 10px 20px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0 4px 6px var(--gray-medium-shadow);
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: var(--primary-shadow);
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 2px 4px var(--gray-medium-shadow);
    }
}

.button-secondary {
    background-color: var(--secondary);
    color: var(--gray-dark);
    padding: 10px 20px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0 4px 6px var(--gray-medium-shadow);
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
        background-color: var(--secondary-shadow);
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 2px 4px var(--gray-medium-shadow);
    }
}